<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
    </div>
    <h3>Latest Mars News</h3>
    <h4>{{mars.headline}}</h4>
    <h5>{{mars.description}}</h5>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3>Featured Mars Image</h3>
      <img class = "img-responsive" alt = "Responsive Image" src="{{ mars.mars_image | default('static/images/error.png')}}" alt="Mars">
    </div> 
    <div class="col-md-4">
        <div class="row">
      <h4>Mars Facts</h3>
        <table class="table table-striped">
      {{mars.mars_table | safe}}
    </table>
    </div>
    </div> 
    </div>
  </div>   
  </div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center" ><h2>Mars Hemispheres</h2></div>
  </div>
  <div class="row">
    {% for hemisphere in mars.hemisphere_image_data %}
    <div class="col-md-3">
      <div class="thumbnail">
        <img src="{{hemisphere.url}}">
        <div class="caption">
          <h3>{{hemisphere.title}}</h3>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</div>
</body>

</html>
